<div class="container">
<h1>Student Activity Tracker App</h1> 
<h2>Create New User</h2>
<form method="POST" action="/users">
    <label for="name">NAME:</label>
    <input type="text" name="name" value="" /><br>
    <label for="age">AGE:</label>
    <input type="text" name="age" value="" /><br>
    <label for="grade">GRADE:</label>
    <input type="text" name="grade" value="" /><br>
    <input type="submit" value="Create New User" />
</form>
</div>